$pink: #e098f8aa; 	//(224,152,248)
$blue-light:	#58e8f8; 	//(88,232,248)
$blue-light-transparent: #58e8f844;
$purple-light:#9890f0; 	//(152,144,240)
$purple-light-transparent:#9890f066; 	//(152,144,240)
$blue:	#6088f8; 	//(96,136,248)
$purple:	#5840d8; 	//(88,64,216)
$grey: #808080aa;
$black-soft: #000000BB;
$black-transparent: #00000055;

$gradient-card: linear-gradient(45deg, $black-transparent 5%, #00000000 90%);
$gradient-header: linear-gradient(to left, $blue 80%, $blue-light, $blue-light-transparent);
$gradient-header-upper: linear-gradient(to left, $purple 85%, $purple-light, $purple-light-transparent);
$background:whitesmoke;
$accent: $pink;
$dark: $purple;
$light: $purple-light;