@import "./styles/palette.scss";
@import "./styles/fonts.scss";


body {
  margin: 0;
  font-family: $primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background;
  background-image: url("transparentoverlay.png");
  background-size: 30%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
